#ignore files general
**/.vscode
**/.log
**/.vagrant

#security
**/authorized_keys
**/*.pub
**/*.ppk
**/rhel-subscription

#erp
**/*.rpo
**/*.tar.gz
app/protheus_data/systemload/*.zip*

# rules postgresql
**/*.retry
**/*/__pycache__
**/*.pyc
