# Configuracao do Servico do Lock Server

[General]
ConsoleLog={{ConsoleLog}}
CONSOLEFILE={{logs}}/protheus_lockserver.log
InstallPath={{app_path}}
CanAcceptFSRemote=1
ASyncConsoleLog=0

[LockServer]
Enable=1
Server={{lockserver_ip}}
Port={{lockserver_port}}
messagelog=1

[Drivers]
ACTIVE=TCP

[TCP]
TYPE=TCPIP
PORT={{lockserver_port}}

[LICENSECLIENT]
SERVER={{license_ip}}
PORT={{license_server_port}}