; Environment
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064764
[{{environment}}]
SourcePath={{rpo_path}}
RootPath={{dictionary_path}}
StartPath=\system\
LocalFiles={{local_files}}
Localdbextension={{localdbextension}}
PictFormat=Default
StringCodePage=2
RpoDb={{rpodb}}
RpoLanguage={{rpolanguage}}
RpoVersion={{rpoversion}}
DebugThreadUsedMemory=1
ThreadMemWarning=1000
ThreadMemStep=100
KillStack=1
Trace=0
TraceStack=1
MaxLocks=10000
AdvSQLReplay=0
AdvSQLReplayLog=0
AdvSQLReplayPath=\SQLReplay\
AdvSQLReplayIOP=0
AdvSQLReplayLogMaxSize=536870912
LogProfilerPath=log_profiler.log

;DBAccess
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064885
[DBAccess]
Server=localhost
Port=7890
Database=MSSQL
Alias=PRODUCTION
Driver=dbapi.so
MemoMega=1

;Drivers
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064839
[Drivers]
Active=TCP
MultiProtocolPort=1
MultiProtocolPortSecure=1
Secure=SSL

;TCP
;https://tdn.totvs.com/pages/viewpage.action?pageId=135495723
[TCP]
Type=TCPIP
Port=1234
Ip=172.16.84.213

;LicenseClient
;https://tdn.totvs.com/pages/viewpage.action?pageId=244734923
[LicenseClient]
Server=172.16.84.213
Port=1234

;LockServer
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064850
[LockServer]
Enable=0
Server=192.168.1.100
Port=1234
SecureConnection=0
MessageLog=0

;General
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064796
[General]
ChangeEncodingBehavior=0
InactiveTimeout=300
;app_environment=environment
CanAcceptDebugger=1
CanAcceptLB=1
CanAcceptMonitor=1
CanRunJobs=1
CanAcceptRPC=1
DebugThreadUsedMemory=1
FloatingPointPrecise=0
IdeMessages=0
ConsoleFile=c:\Sistema\P11\Logs\Server_01.log
LogTimeStamp = 1
ShowFullLog=0
ShowIPClient=0
SocketMessages=0
SSLRedirect=1
LatencyLog=0
LatencyLogFile=c:\TOTVS\Logs\LatencyLog_12010.log
LogHttpFuncs= 0
MaxStringSize=10
WsdlStreamType=0
SocketsDefaultIPV6=0
ServerMemoryLimit=1024

;Service
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064864
[Service]
Name=appserver
Displayname=Sistema ERP
Description=Application Server - WorkFlow

;ServerNetwork
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064861
;[ServerNetwork]
;Servers=SERVER1,SERVER2

;[SERVER1]
;TYPE=TCPIP
;Server=Servidor1
;Port=5024
;SecurePort=6024
;Connections=60

;[SERVER2]
;TYPE=TCPIP
;Server=Servidor2
;Port=5024
;SecurePort=6024
;Connections=60

;TDS
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064865
[TDS]
ALLOWAPPLYPATCH=*
ALLOWEDIT=*
ENABLEDISCONNECTUSER=*
ENABLESENDMESSAGE=*
ENABLEBLOCKNEWCONNECTION=*
ENABLESTOPSERVER=*


;APP_MONITOR
;https://tdn.totvs.com/pages/viewpage.action?pageId=552580433
[APP_MONITOR]
Enable=1

;update
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064898
[update]
Enable=1
PathLinux=/opt/updated/version/path

;HTTP
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064817
[HTTP]
Enable=0
Port=8090
Compression=1
CorsEnable=1
instances=5,20,3,5
LogRequest=0
LogResponse=0
ENABLEHTTPPROT=1
TIMEMSHTTPPROT=100
Path=D:\ERP\Html
ip=172.16.84.213

;HTTPS
;https://tdn.totvs.com/pages/viewpage.action?pageId=135496188
;[HTTPS]
;ENABLE=1
;PORT=443
;PATH=C:\AP_DATA\HTTPS
;ip=172.16.84.213
;ClientCertVerify=0
;SecureCookie=1

;SSLConfigure
;https://tdn.totvs.com/pages/viewpage.action?pageId=6064865
[SSLConfigure]
Verbose = 0
SSL2    = 0
SSL3    = 0
TLS1_0  = 1
TLS1_1  = 1
TLS1_2  = 1
Bugs    = 1
State   = 0
Debug   = 0

;SSL
;[SSL]
;TYPE=TCPIP
;PORT=26011
;SecureConnection=1

;WEBAPP
;https://tdn.totvs.com/pages/viewpage.action?pageId=307834830
[WEBAPP]
Port=8080
EnvServer=ENVIRONMENT,MSSQLP11,MSSQLP12,MSSQLTST
LastMainProg=SIGAADV,SIGAMDI,SIGACFG,SRVWIZARD
MaxBodySize=10485760
MaxHeaderSize=1024
MaxRequestTime=30

[WEBAPP-HEADERS]
Access-Control-Allow-Origin=*

;ONSTART
;[ONSTART]
;Jobs=JOBTEST
;RefreshRate=180
;DebugMsg=1

;[JOBTEST]
;Main=RecalcJur()
;Environment=EnvSQL
