;https://tdn.totvs.com/pages/viewpage.action?pageId=6064764
[Environment]
SourcePath=C:\ERP\APO
RootPath=C:\ERP_Data
StartPath=\system\
LocalFiles=Ctree
Localdbextension=.dtc
PictFormat=Default
StringCodePage=2
RpoDb=Top
RpoLanguage=portuguese
RpoVersion=101
DebugThreadUsedMemory=1
ThreadMemWarning=1000
ThreadMemStep=100
KillStack=1
Trace=0
TraceStack=1
MaxLocks=10000
AdvSQLReplay=0
AdvSQLReplayLog=0
AdvSQLReplayPath=\SQLReplay\
AdvSQLReplayIOP=0
AdvSQLReplayLogMaxSize=536870912
LogProfilerPath=log_profiler.log


;https://tdn.totvs.com/pages/viewpage.action?pageId=6064885
[DBAccess]
Server=localhost
Port=7890
Database=MSSQL
Alias=PRODUCTION
Driver=dbapi.so
MemoMega=1

;https://tdn.totvs.com/pages/viewpage.action?pageId=6064839
[Drivers]
Active=TCP
MultiProtocolPort=1
MultiProtocolPortSecure=1
Secure=SSL

;https://tdn.totvs.com/pages/viewpage.action?pageId=135495723
[TCP]
Type=TCPIP
Port=1234
Ip=172.16.84.213

;https://tdn.totvs.com/pages/viewpage.action?pageId=244734923
[LicenseClient]
Server=172.16.84.213
Port=1234

;https://tdn.totvs.com/pages/viewpage.action?pageId=6064796
[General]
ChangeEncodingBehavior=0
InactiveTimeout=300
;app_environment=environment
CanAcceptDebugger=1
CanAcceptLB=1
CanAcceptMonitor=1
CanRunJobs=1
CanAcceptRPC=1
DebugThreadUsedMemory=1
FloatingPointPrecise=0
IdeMessages=0
ConsoleFile=c:\Sistema\P11\Logs\Server_01.log
LogTimeStamp = 1
ShowFullLog=0
ShowIPClient=0
SocketMessages=0
SSLRedirect=1
LatencyLog=0
LatencyLogFile=c:\TOTVS\Logs\LatencyLog_12010.log
LogHttpFuncs= 0
MaxStringSize=10
WsdlStreamType=0
SocketsDefaultIPV6=0
ServerMemoryLimit=1024


;https://tdn.totvs.com/pages/viewpage.action?pageId=552580433
[APP_MONITOR]
Enable=1

;https://tdn.totvs.com/pages/viewpage.action?pageId=6064898
[update]
Enable=1
PathLinux=/opt/updated/version/path

;https://tdn.totvs.com/pages/viewpage.action?pageId=307834830
[WEBAPP]
Port=8080
EnvServer=ENVIRONMENT,MSSQLP11,MSSQLP12,MSSQLTST
LastMainProg=SIGAADV,SIGAMDI,SIGACFG,SRVWIZARD
MaxBodySize=10485760
MaxHeaderSize=1024
MaxRequestTime=30

[WEBAPP-HEADERS]
Access-Control-Allow-Origin=*


PAREI NA SEÇÃO HTTP

