[protheus]
Description          = PostgreSQL connection to Protheus
Driver               = PostgreSQL
Database             = protheus
Servername           = localhost
UserName             = protheus
Password             = protheus
Port                 = 5432
Protocol             = 10.14
ReadOnly             = No
RowVersioning        = No
ShowSystemTables     = No
UniqueIndex          = 1
UnknownSizes         = 2
TextAsLongVarchar    = 1
BoolsAsChar          = 1
MaxLongVarcharSize   = 2000
ReadOnly             = 0
RowVersioning        = 0
ShowSystemTables     = 0
LFConversion         =1
ShowOidColumn        = 0
FakeOidIndex         = 0
UseServerSidePrepare = 1