[protheus]
Description         = PostgreSQL connection to Protheus
Driver              = PostgreSQL
Database            = protheus
Servername          = localhost
UserName            = protheus
Password            = protheus
Port                = 5432
Protocol            = 10.14
ReadOnly            = No
RowVersioning       = No
ShowSystemTables    = No
ConnSettings        =